@font-face {
    font-family: "pf";
    src: url("src/PFDinTextPro-Medium.ttf");
}

:root {
    --main-bg-color: pink;
    --secondary-color: #c5c5c5;
    --secondary-bg-color: #c5c5c590;
    --transition-time: 0.4s
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    color: var(--secondary-color);
    min-height: 100vh;
    background: rgba(0, 32, 63, 1);
    background-image: -webkit-linear-gradient(top, rgba(0, 32, 63, 1) , rgba(0, 10, 20, 1) 100%);
    background-image: linear-gradient(to bottom, rgba(0, 32, 63, 1) , rgba(0, 10, 20, 1) 100%);
}

p, a {
    font-family: "pf", Helvetica, serif;
    color: var(--secondary-color);
}

p {
    font-size: 1.4em;
}



.card {
    display: block;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    background-color: black;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    text-align: center;
}

.logo {
    background-color: black;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.8);
    padding: 10px;
    border-radius: 10px;
    transition: var(--transition-time);
}

.label {
    margin: 24px auto 28px auto;
}

a.socialcard {
    text-decoration: none;
}

.subcards {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.socialcard {
    display: inline-flex;
    justify-content: center;
    padding: 12px;
    margin: 8px;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-bg-color);
    border-radius: 12px;
    font-size: 2em;
    transition: var(--transition-time);
}

.socialcard:hover {
    box-shadow: 0 0 5px 3px var(--secondary-color);
    transition: var(--transition-time);
}


.logo:hover {
    box-shadow: 0 0 5px 2px var(--secondary-color), 0 8px 32px 0 rgba(31, 38, 135, 0.3);
    transition: var(--transition-time);
}

.icon {
    margin-right: 1.5%;
    font-size: 2em;
}


.disable-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media screen and (orientation: landscape) {
    .card {
        width: 450px;
    }
    .container {
        padding: 15vh 0;
    }
    body {
        background-image: url('./src/bg-mesh.svg'), linear-gradient(to bottom, rgba(0, 32, 63, 1) , rgba(0, 10, 20, 1) 100%);
        background-image: url('./src/bg-mesh.svg'), -webkit-linear-gradient(top, rgba(0, 32, 63, 1) , rgba(0, 10, 20, 1) 100%);
        background-size: 100%;
        -o-background-size: 100%;
        -webkit-background-size: 100%;
    }
}

@media screen and (orientation: portrait) {
    .card {
        width: 80%;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .container {
        padding: 5vh 0;
    }
}